[submodule "openicf-license"]
	path = openicf-license
	url = git@github.com:Athesys/openicf-license.git
[submodule "openicf-maven-plugin"]
	path = openicf-maven-plugin
	url = git@github.com:Athesys/openicf-maven-plugin.git
[submodule "openicf-ssh-connector"]
	path = openicf-ssh-connector
	url = git@github.com:Athesys/openicf-ssh-connector.git
[submodule "openicf-java-framework"]
	path = openicf-java-framework
	url = git@github.com:Athesys/openicf-java-framework.git
[submodule "forgerock-parent"]
	path = forgerock-parent
	url = git@github.com:Athesys/forgerock-parent.git
